.markdown {
  left: 10%;
  width: 60%;
  padding-top: 25px;
  padding-bottom: 50px;
  position: relative;
  font-family: 'Jura', monospace;
  margin-bottom: 2px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}